{
    "env": {
        "production": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false,
                        "targets":{
                            "browsers": [
                                "last 2 versions",
                                "ie >= 9"
                            ]
                        },
                        "useBuiltIns": "entry"
                    }
                ],
                "@babel/preset-react"
            ],
            "plugins": [
                "@babel/plugin-transform-react-inline-elements",
                [
                    "@babel/plugin-proposal-decorators",
                    {
                        "legacy": true
                    }, 
                    "antd-mobile"
                ],
                "@babel/plugin-transform-flow-strip-types",
                "@babel/plugin-syntax-dynamic-import",
                [
                    "import",
                    {
                        "libraryName": "antd",
                        "libraryDirectory": "es",
                        "style": true
                    },
                    "ant"
                ],
                [
                    "import",
                    {
                        "libraryName": "antd-mobile",
                        "style": "css"
                    }
                ],
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-syntax-import-meta",
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-json-strings",
                [
                    "@babel/plugin-proposal-decorators",
                    {
                        "legacy": true
                    }
                ],
                "@babel/plugin-proposal-function-sent",
                "@babel/plugin-proposal-export-namespace-from",
                "@babel/plugin-proposal-numeric-separator",
                "@babel/plugin-proposal-throw-expressions"
            ]
        },
        "development": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false,
                        "targets": {
                            "browsers": [
                                "last 2 versions",
                                "ie >= 9"
                            ]
                        },
                        "useBuiltIns": "entry"
                    }
                ],
                "@babel/preset-react"
            ],
            "plugins": [
                [
                    "import",
                    {
                        "libraryName": "antd",
                        "libraryDirectory": "es",
                        "style": true
                    },
                    "ant"
                ],
                [
                    "import",
                    {
                        "libraryName": "antd-mobile",
                        "style": "css"
                    }, 
                    "antd-mobile"
                ],
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-object-rest-spread",
                [
                    "@babel/plugin-proposal-decorators",
                    {
                        "legacy": true
                    }
                ],
                "@babel/plugin-transform-flow-strip-types",
                "@babel/plugin-syntax-dynamic-import"
            ]
        }
    }
}
