:global{
    .ant-upload-select-picture-card{
        width: auto !important;
        height: auto !important;
        border: none !important;
        background-color: #ffffff  !important;
    }
    .ant-upload{
        padding: 0 !important;
    }
}